body{
    background-image    : url(Images/background.png);
    background-repeat   : no-repeat;
    background-size     : 100%;
    background-color    : rgb(255, 255, 255);
    font-family         : 'Roboto, sans-serif';
}

*{ /*untuk mengukur semua box*/
    box-sizing: border-box;
}

.site-content{
    max-width   : 1125px;
    margin      : 0 auto;
}

.hero{
    padding     : 120px 15px;
    text-align  : center;
}

.title, .subtitle{
    display: block;
}

.title{
    font-family: 'Playfair Display';
}

.subtitle{
    font-family: 'Caveat';
}

.hero .title{
    font-size: 72px;
}

.hero .subtitle{
    font-size   : 64px;
    font-weight : normal;
}

.hero p{
    font-family: 'Roboto';
    font-size   : 22px;
    font-weight : lighter;
}

.hero form{
    max-width   : 550px;
    margin      : 70px auto 0;
    position    : relative; /*agar button search bisa diam tidak berpindah-pindah*/
}

.hero form input{
    width           : 100%;
    font-size       : 16px;
    padding         : 20px 50px 20px 25px;
    border-radius   : 45px;
    border          : 2px solid white;
    box-shadow      : 0 10px 13px rgba(0,0,0,0.1);
    outline         : none;
    transition      : border-color 300ms ease-in;
}

.hero form input:focus{
    border: 2px solid rgb(5, 5, 5);
}

.hero form button{
    position    : absolute;
    top         : 10px;
    right       : 20px;
    font-size   : 36px;
    color       : rgb(3, 3, 3);
    border      : none;
    background  : none;
}

.grid-layout:after{
    content: "";
    clear  : both;
    display: block;
}

.grid-item{
    width  : 33.333%;
    float  : left;
    padding: 0 15px 0 0;
}

.grid-item:nth-child(3n+1){
    clear: both;
}

.taman{
    background-color: rgb(255, 255, 255);
    margin-bottom: 30px;
    box-shadow: 0 9px 18px rgba(0,0,0,0.5);
}

.taman figure{
    margin: 0;
}

.taman figure img{
    width: 100%;
}

.taman a{
    text-decoration: none;
}

.taman-detail{
    padding: 15px;
    text-align: center;
    font-size: 12px;
    margin: 1px 0 10px;
}

.taman-detail h2{
    font-size: 28px;
    margin: 5px 0 10px;
}

.taman-detail p{
    font-size: 14px;
}

.taman-detail .title{
    color: black;
}

.taman-detail .subtitle{
    color: black;
    margin-top: 5px;
}

.footer{
    text-align: center;
    padding: 90px 15px 48px;
}

/*untuk tampilan di Tablet*/
@media screen and (max-width:990px){
    .grid-item{
        width: 50%;
    }
    .grid-item:nth-child(3n+1){
        clear:none;
    }
    .grid-item:nth-child(2n+1){
        clear: both;
    }
}

/*untuk tampilan di Smartphone*/
@media screen and (max-width:480px){
    .grid-item{
        width: 100%;
    }   
}

.map{
    width   : 990px;
    margin  : 0 auto;
    position: relative;
}

.map:before,
.map:after{
    content : " ";
    width   : 100%;
    height  : 200px;
    position: absolute;
    left    : 0;
}    

.map:before{
		top: 0;
		background-image: linear-gradient(white, rgba(255,255,255,0) )
}

.map:after{
    bottom: 0;
    background-image: linear-gradient(rgba(255,255,255,0), white )
}

img{
    max-width: 100%;
}

form .home{
    width           : 15%;
    font-size       : 14px;
    border-radius   : 10px;
    margin          : auto;
    text-decoration-style: none;
    border          : 2px solid rgb(10, 240, 248);
    background-color: rgb(10, 240, 248);
    box-shadow      : 0 10px 13px rgba(0,0,0,0.1);
    outline         : none;
    transition      : border-color 300ms ease-in;
}

form .nav{
    width           : 15%;
    font-size       : 14px;
    border-radius   : 10px;
    margin          : auto;
    text-decoration-style: none;
    border          : 2px solid rgb(10, 66, 248);
    background-color: rgb(10, 66, 248);
    box-shadow      : 0 10px 13px rgba(0,0,0,0.1);
    outline         : none;
    transition      : border-color 300ms ease-in;
}